#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.node {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.childnode {
    border: 1px solid black;
}

.selected {
    background-color: lightGrey;
}